* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #C0C5CD;
}

.hero {
    background:#203562;
    color: white;
    padding: 15px;
}

.hero-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.buttons-view {
  width: 100%;
  padding-bottom: 30px;
}

.buttons-view .btn {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 5px;
    background-color: #E3E8F8;
    text-align: left;
}

.container {
    padding: 25px;
	border-style: solid;
	border-width: 1px
}

.cityWeather {
    padding: 30px;
    border-style: solid;
    border-width: 1px
}

#run-search,
#clear-search {
    margin-top: 15px;
}