* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #C0C5CD;
}

.hero {
    background:#203562;
    color: white;
    padding: 15px;
}

.hero-title {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
	padding: 15px
}

.side-card {
    background-color: #E3E8F8 ;
    padding: 10px 10px 15px 10px;
    margin: 8px;
}

#city-list {
    margin-top: 10px;
}

.main-card {
    padding: 5px;
}